@media screen and (min-width: 800px){
    button{
        display: none;
    }
}




html, body{
    margin: 0;
    padding: 0;
    background-color: maroon;
}
header{
    background-color: #FFFFFF;
}
button{
    border-radius: .2em;
    border: .05em solid #dddddd;
    background-color: #ffffff;
    color: #888888;
    
    float: right;
    
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
    
    padding: .3em;
    
    transform: scale(1.3,.9);
    font-size: 1em;
}

button::before{
    content: 'III';
    float: left;
    transform: rotate(90deg);
}
button:focus{
    outline: 10;
    background-color: #dddddd;
}
button:hover{
    background: #dddddd;
}
nav{
    display:none;
}
button:focus + nav{
    display: block;
    clear: both;
    
    margin-left: 30%;
    margin-right: 30%;
    
    width: auto;
    background-color: #ffffff;
}
